<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>测试测试微群</title>
<meta name="renderer" content="webkit">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta name="Keywords" content="微群助手－信息页" />
<meta name="Description" content="微信公众平台上的公众号－－微群助手" />
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/skin.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-switch.css">
<script language="javascript" type="text/javascript" src="/javascript/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/javascript/bootstrap.js"></script>
<script language="javascript" type="text/javascript" src="/javascript/bootstrap-switch.js"></script>
</head>
<body>
  <!--<button style="position:fixed; bottom:40px; right:20px; z-index:999;">发表</button>-->
  <!--<a role="button" href="#" class="write_btn" data-skin_factor="bg" data-icon="layer-write" data-uiselector="btnPostWrite" style="position:fixed; bottom:40px; right:20px; z-index:999; background-color: #FF6600;width:40px;height:40px;border-radius:20px;">发表</a>-->
  <a role="button" href="/feed/publish" class="write_btn" style="position:fixed; bottom:40px; right:20px; z-index:999; background-color: #FF6600;width:40px;height:40px;border-radius:20px; text-align:center; line-height:40px; color:#FFFFFF;">发表</a>
  <a role="button" href="/feed/groupMember" class="write_btn" style="position:fixed; bottom:100px; right:20px; z-index:999; background-color: #FF6600;width:40px;height:40px;border-radius:20px; text-align:center; line-height:40px; color:#FFFFFF;overflow:hidden;">群成员</a>
  <a role="button" href="#" class="write_btn" style="position:fixed; bottom:160px; right:20px; z-index:999; background-color: #FF6600;width:40px;height:40px;border-radius:20px; text-align:center; line-height:40px; color:#FFFFFF;">相册</a>
  <a role="button" href="#" class="write_btn" style="position:fixed; bottom:220px; right:20px; z-index:999; background-color: #FF6600;width:40px;height:40px;border-radius:20px; text-align:center; line-height:40px; color:#FFFFFF;">投票</a>
  <div class="magin_0">
    <div class="group-bg">
          <div class="bg_img" style="background: url(http://coresos.phinf.naver.net/a/2g61f4_4/g89Ud0158aic1exyaq1q_8u3vvy.jpg);background-size:cover;"></div>
    </div>
          <div class="bl-wi-color"></div>
  </div>

  <div class="chat_list" style="width:92%;margin:10px auto;">
      <div class="media" style=" margin-top:15px;">
        <div class="media_content">
          <div class="media-heading" data-skin="skin8">
            <div class="media-body media-middle" data-skin_factor="color"><h5 class="media-heading" data-textover="1" style="margin-top: 0;"><strong>告示</strong></h5></div>
          </div>
          <div class="media-gonggao">
            <div class="media-bottom media-middle"><p>测试内容，测试内容</p></div>
          </div>
        </div>
            </div>
  
    <ul class="list-unstyled">
        <!--<for start="1" end="5">-->
    <% for(var i=1; i<5; i++) {%>
        
      <li class="media" data-looktype="bandLook" data-read="0" data-skin="skin9" style="margin-top:18px">
        <div class="media_content">
          <div class="media-heading">
            <div class="media-left media-middle"><img class="media-object img-circle" data-src="holder.js/46x46" alt="46x46" src="http://coresos.phinf.naver.net/a/2g61f4_4/g89Ud0158aic1exyaq1q_8u3vvy.jpg" data-holder-rendered="true" style="width: 46px; height: 46px;"></div>
            <div class="media-body media-middle"><h5 class="media-heading" data-textover="1" style="margin-top: 0;color:#000"><strong>姓名</strong></h5><p data-textover="1" style="color:#999;margin-bottom: 0;"><small>{$i}分钟前</small></p></div>
          </div>
          <div class="media-footing">
            <div class="media-bottom media-middle"><p>测试内容，测试内容</p></div>
            <div data-type="pic">
            <!--<for name="j" start="1" end="7">-->
            <% for(var j=1; j<7; j++) {%>
                <img class="media-object" src="http://coresos.phinf.naver.net/a/2g61f4_4/g89Ud0158aic1exyaq1q_8u3vvy.jpg" data-holder-rendered="true">
            <% } %>
            <!--</for>-->
            </div>
            <div data-type="custom"><div data-share="custom"></div><div data-share="custom-info"><h5 class="media-heading" style="margin-top: 0;color:#000">标题标题</h5><p style="color:#999;margin-bottom: 0;"><small>{$i}分钟前</small></p></div></div>
          </div>
        </div>
                <div class="media_btn">
                  <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border-right: solid 1px #fff;"><i class="glyphicon glyphicon-thumbs-up"></i> 赞</span>
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border-left: solid 1px #DDD;"><i class="glyphicon glyphicon-comment"></i> 发表评论</span>
                </div>
            </li>
    <% } %>
    <!--</for>-->
        </ul>
  </div>
<script>
$(document).ready(function(){$('.ellipsis').ellipsis();})
</script>
</body>
</html>