<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="Keywords" content="微群助手－主页" />
    <meta name="Description" content="微信公众平台上的公众号－－微群助手" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>微群帮手测试</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/weui.css">
    <!--<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.2.0/weui.css"/>-->
    <script language="javascript" type="text/javascript" src="/javascript/jquery.min.js"></script>
    <!--<script language="javascript" type="text/javascript" src="/javascript/bootstrap.js"></script>-->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style type="text/css">
    body {background-color: #FBFBFB;}
    .photo_list {background-color: #FFFFFF;}
    .tx {padding-top: 15px; }
    .tx span{display: block;}
    img {width: 100%;border-radius: 10px;}
    .tuichu {margin-right: 0.3em;margin-left: 0.3em;margin-top: 0.8em;margin-bottom: 0.4em;}
    .number_sum {margin-top: 0em;}
    </style>

  </head>
  <body>
    <div class="container photo_list">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tx">
          <img src="/images/test_touxiang.jpg"><span>b</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tx">
          <img src="/images/test_touxiang.jpg"><span>blod</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tx">
          <img src="/images/test_touxiang.jpg"><span>blod</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tx">
          <img src="/images/test_touxiang.jpg"><span>blod</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tx">
          <img src="/images/test_touxiang.jpg"><span>blod</span>
        </div>
      </div>
    </div>
    

    <div class="weui_cells weui_cells_access number_sum">

        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>全部群成员(69)</p>
            </div>
            <div class="weui_cell_ft">
                
            </div>
        </a>
    </div>
    
    <div class="weui_cells weui_cells_access">

        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>群聊名称</p>
            </div>
            <div class="weui_cell_ft">
                聊趣test群
            </div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>群二维码</p>
            </div>
            <div class="weui_cell_ft">
                
            </div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>群公告</p>
            </div>
            <div class="weui_cell_ft">
                未设置
            </div>
        </a>
    </div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd weui_cell_primary">消息免打扰</div>
            <div class="weui_cell_ft">
                <input class="weui_switch" type="checkbox"/>
            </div>
        </div>
    </div>

    <div class="weui_cells weui_cells_access">

        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>我在本群的昵称</p>
            </div>
            <div class="weui_cell_ft">
                lyh
            </div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd">
                
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>举报</p>
            </div>
            <div class="weui_cell_ft">
                
            </div>
        </a>
    </div>

    <a href="/group/quit_group" class="weui_btn weui_btn_warn tuichu">删除并退出</a>

  </body>
</html>
