<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="Keywords" content="微群助手－主页" />
    <meta name="Description" content="微信公众平台上的公众号－－微群助手" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>微群帮手测试</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">-->
    <!--<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/weui.css">
    <script language="javascript" type="text/javascript" src="/javascript/jquery.min.js"></script>
    <!--<script language="javascript" type="text/javascript" src="/javascript/bootstrap.js"></script>-->
    <!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.4.js"></script>
    <script type="text/javascript">
        AV.initialize('zsxn9bhj8fuecdfqgqv1ly7lt70cej7ftbe2hp7r4i916gmn', 'u73ok822ykyc19s1i179tqdf2pgz7bhzrlxwprc6pchs1ioo');
    </script>
    <script language="javascript" type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <style type="text/css">
    body {overflow: hidden;width: 100%;background-color: #FFFFFF;} /*background-color: #FBFBFB;*/
    img{width: 100%;}
    </style>

  </head>
  <body>
    <div class="contain">
        <div><img src="http://ac-dkhkftc7.clouddn.com/317eea789d2d17d733a0.jpg"></div>
        <div ><img src="http://ac-dkhkftc7.clouddn.com/c90e734456887e26b022.gif"></div>
        <div ><img src="http://ac-dkhkftc7.clouddn.com/dd2bf4e92ef6b51599f1.png"></div>
    </div>
  </body>
  <script type="text/javascript">
    
  </script>
</html>