<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>wegroup</h1>
    <p>Oauth test</p>
    <p>你的openid是：<%= openid %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
  </body>
</html>
