<!DOCTYPE HTML>
<html>
  <body>
    <h1>公告</h1>
    <form action="/group/notice" method="POST">
      群名称：
      <input type="textarea" name="groupNotice" /> 
      <input type="hidden" name="username" value=<%= username %> >    
      <input type="submit" value="完成" />
    </form>
  </body>
</html>
