<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <h1>LeanEngine</h1>
    <p>微群帮手的用户如下</p>
    <p>当前时间：<%= currentTime %></p>
    <p>关注者：<%= locals.followers %></p>
  </body>
</html>
